<div class="footer-container">
    <div>
        <img src="/assets/images/noframes.gif" alt="no frames"/>
        <img src="/assets/images/notepad.gif" alt="made with notepad"/>
    </div>
    <span>
        🄯 2021 Silas Bartha
    </span>
</div>
