<head>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/ticker.css"/>
    <link rel="stylesheet" href="/css/syntax.css"/>
    {% if page.custom_css %}
        {% for stylesheet in page.custom_css %}
            <link rel="stylesheet" href="{{ stylesheet }}">
        {% endfor %}
    {% endif %}
</head>
<body>
    {% include header.html %}
    <div class="bordered container content-section">
    {% include tagcloud.html %}
        <b>Posts with Tag: {{ page.tag }}</b>
        <ul>
{% for post in page.posts %}
<li><a href="{{post.url}}">{{ post.title }} ({{ post.date | date: '%B %d, %Y' }})</a></li><br/>
{% endfor %}
    </div>
    {% include footer.html %}
</body>
